<html>
    <head>
        <title>Cadastro de usuário</title>
    </head>
    <body style="border: 10px outset #6155ee;  
        background-color: #8e72d1; text-shadow: 0px 0px 19px #8448e6; 
        border-radius: 50px;">
        <label for="username">Usuário:</label>
        <input style="box-shadow:  0px 0px 10px 1px rgba(117, 78, 215, 0.31); font: Arial;" id="username" type="text" size="20" maxlength="80" >
        <p><label for="password">Senha:</label>
        <input style="box-shadow:  0px 0px 10px 1px rgba(117, 78, 215, 0.31); font: Arial;" id="password" type="password" size="20" maxlength="20"></p>
        <p><button style="box-shadow: 0px 0px 2px 1px #7100ff inset, 0px 0px 10px 1px #7100ff;" onclick="Limpar()">Cadastrar</button>
        <button style="box-shadow: 0px 0px 2px 1px #7100ff inset, 0px 0px 10px 1px #7100ff;">Atualizar</button>
        <button style="box-shadow: 0px 0px 2px 1px #7100ff inset, 0px 0px 10px 1px #7100ff;">Deletar</button>
        <button style="box-shadow: 0px 0px 2px 1px #7100ff inset, 0px 0px 10px 1px #7100ff;" >Limpar</button></p>
    </body>
    <script src=".\"></script>
</html> 